In [9]:
a= range(0,10,2)
for i in a:
    print(i)

0
2
4
6
8

In [10]:
set("banana")

{'a', 'b', 'n'}

In [11]:
list("banana")

['b', 'a', 'n', 'a', 'n', 'a']

In [12]:
tuple("banana")

('b', 'a', 'n', 'a', 'n', 'a')

In [13]:
dict("banana")

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [16]:
set(["a","b", ("nested list")])

{'a', 'b', 'nested list'}

In [17]:
a= list(range(200))
küme = {i for i in a if 150 < i < 175}
print(küme)

{151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174}

In [28]:
b = set()
for i in a:
    if 150< i <155:
        b.add(i)
print(i,b)

TypeError: '<' not supported between instances of 'int' and 'str'

In [32]:
a= list("gdhvcghvdghvndkjnjhuhrfbbrhfbhrfbh")
b= set()
for i in a:
    if i=="g":
        pass
    else:
        b.add(i)
print(b)

{'f', 'b', 'n', 'd', 'v', 'k', 'c', 'r', 'j', 'h', 'u'}

In [33]:
a= list("gdhvcghvdghvndkjnjhuhrfbbrhfbhrfbh")
b= set()
for i in a:
    if i!="g":
        b.add(i)
print(b)

{'f', 'b', 'n', 'd', 'v', 'k', 'c', 'r', 'j', 'h', 'u'}

In [36]:
a= list("gdhvcghvdghvndkjnjhuhrfbbrhfbhrfbh")
b= {i for i in a if i!="g"}
print(b)

{'f', 'b', 'n', 'd', 'v', 'k', 'c', 'r', 'j', 'h', 'u'}

In [42]:
d= "gdhvcghvdghvndkjnjhuhrfbbrhfbhrfbh"
c = d.replace("g", "")
set(c)

{'b', 'c', 'd', 'f', 'h', 'j', 'k', 'n', 'r', 'u', 'v'}

In [44]:
a= list("gdhvcghvdghvndkjnjhuhrfbbrhfbhrfbh")
b= {i + "a" for i in a if i!="g"}
print(b)

{'ua', 'va', 'ka', 'ja', 'ca', 'ha', 'da', 'ba', 'ra', 'na', 'fa'}

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [46]:
a = set([1,2,3,4,5,6])
b = set([1,7,3,4,9,6])
a.difference(b)

{2, 5}

In [49]:
a= set("qwertyuıop")
b= set("asdfghjktr")
b-a

{'a', 'd', 'f', 'g', 'h', 'j', 'k', 's'}

In [52]:
a= set("qwertyuıop")
a.remove("q")
a

{'e', 'o', 'p', 'r', 't', 'u', 'w', 'y', 'ı'}

In [3]:
a = set([1, 2, 3, 5, 6])
b = set([1, 2, 4, 5, 7])
print (a.intersection_update(b))
a

None

{1, 2, 5}

In [4]:
a

{1, 2, 5}

In [7]:
sayı = input("Lütfen bir sayı giriniz: ")

if int(sayı) == 13:
    raise Exception("13 sayısı uğursuz sayımdır. Program burda bitmiştir.")

try:
    print(int(sayı) ** 2)

except ValueError as hata:
    print("Sayı girmediniz.")
    print(hata)

ValueError: invalid literal for int() with base 10: 'vg'

In [8]:
print("\a")



In [9]:
print("hello\Jim")

hello\Jim

In [10]:
print("\u0065")

e

In [11]:
print("\N {LATIN SMALL LETTER E}")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 0-1: malformed \N character escape (<ipython-input-11-7cd58ffd34d9>, line 1)

In [12]:
print("\N{LATIN SMALL LETTER E}")

e

In [9]:
a= dict(name= "emre", name_2="eslem")
a ["name_3"] = "gülsüm"
print(a)

{'name': 'emre', 'name_2': 'eslem', 'name_3': 'gülsüm'}

In [10]:
b= {"name":"emre", "name_2":"eslem"}
b["name_3"]="gülsüm"
print(b)

{'name': 'emre', 'name_2': 'eslem', 'name_3': 'gülsüm'}

In [37]:
c= {"name":"emre", "name_2":"eslem"}
c.update({"name_3": "Gülsüm"})
c.update({"name_5" : "anne"})
c["name_4"]= "recep"
"name" in c

True

In [34]:
a = ["1",2,3,4,5,6,7,88,99]
"1" in a

True

In [40]:
school_records={
    "personal_info":
        {"kid":{"tom": {"class": "intermediate", "age": 10},
                "sue": {"class": "elementary", "age": 8}
               },
         "teen":{"joseph":{"class": "college", "age": 19},
                 "marry":{"class": "high school", "age": 16}
               },
        },
    "grades_info":
        {"kid":{"tom": {"math": 88, "speech": 69},
                "sue": {"math": 90, "speech": 81}
               },
         "teen":{"joseph":{"coding": 80, "math": 89},
                 "marry":{"coding": 70, "math": 96}
               },
        },
}
print(school_records["grades_info"]["teen"]["joseph"])

{'coding': 80, 'math': 89}

In [48]:
c= {"friend_1":{"name":"emre", "surname":"eslem"}, "family":{"name":"anne", "name":"baba"} }
c

SyntaxError: invalid syntax (<ipython-input-48-bffee07f9317>, line 1)

In [49]:
student_ages = {"Harry": 29,
                "Clark": 32,
                "Peter": 22,
                "Bruce": 36
                }
print(student_ages["Clark"])

32

In [52]:
numbers = {}

numbers['x'] = 12
numbers['y'] = 4
numbers.update({'z': 3})

print(numbers['x'] + numbers['y'] + numbers['z']**2)

25

In [54]:
numbers_10 = [10, 30, 40, 50, 60, 70, 80, 90, 100]
numbers_10.insert(1,20)
print(numbers_10)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [55]:
fruits_vegetables = ["fruit", "vegetable", ["apple", "banana", ["mango", "avocado"]], ["spinach", "broccoli"]]
print(fruits_vegetables[3][0])

spinach

In [60]:
sales = {
  "cost_value": 31.87,
  "sell_value": 45.00,
  "inventory": 1000
} 
Total_profit = sales["inventory"]*(sales["sell_value"]-sales["cost_value"])
print("Total profit:\t", int(round(Total_profit,1)))

Total profit:	 13130

In [62]:
amount_dollar= float(input("Enter amount of dollar:"))
print("${}".format(amount_dollar))

$2.85